.EditListTitle{
    padding: 15px  
}
.add__button{
    text-align: center;
    padding: 5px;

}
.error{
    position: absolute;
    color: red;
    left: 250px;
}
.inputList{
    position: absolute;
    left: 80px;

}
.strList{
    margin: 6px;
}
